<h1>Account Management</h1>
<h3>Welcome <%- firstName %></h3>
<p>You're Logged in</p>

<a href="/account/update">Edit Account Information</a><br>
<a href="/account/password">Change password</a>
<%- inventory %>

<%- inventoryLink %>