<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>



<% if (loggedin) { %>
  <div class="tools">
    <a title="Click to log in" href="/inv/">WELCOME BASIC</a>
    <a title="Click to log out" href="/account/logout">LOGOUT</a>
  </div>
<% } else { %>
  <div class="tools">
    <a title="Click to log in" href="/account/login">MY ACCOUNT</a>
  </div>
<% } %>




</header>