<%- messages() %>
<h1>Welcome to CSE Motors</h1>
<div class="hero">
    <img src="images/vehicles/delorean.jpg" alt="DeLorean/ Hero image">
</div>
<div class="hero-text">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p> Superman doors</p>
    <p>Fuzzy dice!</p>
    <a href="#">Own Today</a>
</div>
<div id="section">
    <div class="upgrades-section">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <figure id="up1">
                <div>
                    <img src="/images/upgrades/flux-cap.png" alt="flux Capacitor">
                </div>
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>
            <figure id="up2">
                <div>
                    <img src="/images/upgrades/flame.jpg" alt="flame">
                </div>
                <figcaption><a href="#">Flame Decals</a></figcaption>
            </figure>
            <figure id="up3">
                <div>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>                
                <figcaption><a href="#">Bumper Stickers</a></figcaption>
            </figure>
            <figure id="up4">
                <div>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub caps">
                </div>                
                <figcaption><a href="#">Hub Caps</a></figcaption>
            </figure>
        </div>
    </div>

    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it! (5/5)</li>
        </ul>
    </div>
</div>

