<h1>Welcome to CSE Motors</h1>
<div class="hero">
    <img src="images/vehicles/delorean.jpg" alt="DeLorean/ Hero image">
</div>
<div>
    <h2>DMC Delorean</h2>
    <p>3 Cup holders Superman doors</p>
    <p>Fuzzy dice</p>
    
    <a href="#">Own Today</a>
</div>
