/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*NAVIGATION RESPONSIVENESS*/
.menu-toggle{
  display: none;
}




a {
  text-decoration: none;
}
/*General*/
#top-header {
  display: flex;
  justify-content: space-between;
}


.siteName a{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
#tools a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 0.5rem 0 0.5rem 0;
}

.hero img{
  width: 100%;
}

.hero-text{
  background-color: rgba(255, 250, 250, 0.384);
  padding: 0 1rem 1rem 1rem ;
}


#section{
  /*display: flex;
  justify-content: space-around;*/
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 1rem;

}
.upgrades div{
    text-align: center;
    background-color: rgb(6, 127, 175);
  }
.upgrades figure{
    text-align: center;
  }

.upgrades-section{
  grid-column: 1/7;
}
#reviews{
  grid-column: 7/12;
}
/*DETAILS*/
h2 span {
  font-weight: normal; /* removes bold */
  font-size: 1rem;     /* makes it smaller like paragraph */
}
/******/
.hero-text a{
  font-size: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(6, 127, 175);
  padding: 0.5rem;
}
/*LOGIN FORM*/
.nn{
  max-width: 150px;
}

.login-form{
  border: 1px solid black;
  max-width: 300px;
  padding: 1rem;
}

.login-form label{
  display: block;
}

/*LOGIN FORM*/
#reg-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-element{
  border: 1px solid black;
  max-width: 300px;
  padding: 1rem;
}

#form-element label{
  display: block;
}

#register-btn{
  border-radius: 2rem;
  border: none;
  background-color: rgb(77, 211, 235);
  padding: 0.5rem 0.5rem;
}
#register-btn:hover{
  border-radius: 2rem;
  border: 1px solid white;
}
#register-btn:hover{
  cursor: pointer;
  color: white;
}

input:user-invalid
{
  border: 2px solid red;
  background-color: #ffe6e6;
  outline: none;
}

input:required:valid {
  border: 2px solid green;
  background-color: #e6ffe6;
}

#inv_description{
  width: 100%;
}

select {
  width: 100%;
}
/*FOR FLASH MESSAGES*/
.notice{
  list-style: none;
  text-align: left;
  border: solid 1px black;
  max-width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}
.notice li{
 text-align: left;
}
#asterisk{
  color: red;
}

input{
  width: 100%;
  box-sizing: border-box;
}

.tooltip {
  display: none;
  font-size: 0.8rem;
  color: #555;
  margin-top: 0.25rem;
  line-height: 1.2;
  width: 100%;
  word-wrap: break-word;
}

input:focus + .tooltip {
  display: block;
}
/*small*/
@media screen and (max-width:640px) {

.siteName a, #tools a{
    font-size: 1.2rem;
}

h1{
  font-size: 1.3rem;

}
.hero-text{
  position: absolute;
  top: 25%;

  }
.hero-text h2{
    font-size: 0.8rem;
    color: rgb(6, 127, 175);
  }
.hero-text p {
    font-size: 0.8rem;
    color: rgb(6, 127, 175);
  }
  
#section{
  grid-template-columns: repeat(6,1fr);
}
.upgrades{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

#up1{
  grid-column:1/2 ;
}
#up2{
  grid-column:2/3;
}

.upgrades-section{
  grid-row: 2/3;
  grid-column: 1/12;
}
#reviews{
  grid-row: 1/2;
  grid-column: 1/12;
}

/*TYPE PAGE*/
#inv-display h2 {
  font-size: 1rem;
}
#inv-display {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#inv-display li{
  list-style: none;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem; 
  text-align: center;
}
#inv-display img{
  width: 100%;
  height: auto;
}


/*DETAIL PAGE*/
.card {
  margin: 0 1.5rem;
}
.card h2{
  font-size: 1rem;
}
.card img{
  width: 100%;
  height: auto;
}
.vehicle-details {
  text-align: center;
}




}



@media screen and (max-width:400px){
/*NAVIGATION RESPONSIVESS*/
.menu-toggle{
  display: block;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: larger;
}
#wrapper ul{
  display: none;
}


#navLinks.active {
  display: flex;
  flex-direction: column;
  background-color: #fffcfc;
  color: black;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  top: 45px;
  right: 0;
  padding: 1rem;
  min-width: 150px;
  max-width: 90vw;
  box-sizing: border-box;
}

}








